html {
    text-align: center;
}

.right {
    float: right;
    padding: 20px;
    margin-right: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.square {
    background-color: white;
    border: 1px solid black;
}

.color {
    background-color: dimgray;
    border: 1px solid black;
}

.gridContainer {
    display: inline-grid;
    border: 5px solid black;
    border-radius: 5px;
    height: 50vw;
    width: 50vw;
    min-width: 0;
}